@namespace PyroGeoBlazor.DeckGL.Components
@using PyroGeoBlazor.DeckGL.Models
@using Microsoft.JSInterop
@implements IAsyncDisposable

<CascadingValue Value="this">
    <div id="@ContainerId" style="flex: 1; height: 100%; width: 100%; position: relative;">
        @if (LayersContent != null)
        {
            @LayersContent
        }
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>
</CascadingValue>
