@namespace PyroGeoBlazor.Leaflet.Components

@inherits LeafletMapBase

@if (Map is not null)
{
    <div class="leafletMap" id="@Map.ElementId" style="@MapStyle"></div>
}

@code {
    [Parameter] public int Height { get; set; } = 400;

    private string MapStyle => $"height: {Height}px; width: 100%;";
}