@page "/"
@using PyroGeoBlazor.Demo.Models
@using PyroGeoBlazor.Leaflet.Components
@using PyroGeoBlazor.Leaflet.Models

<PageTitle>Home</PageTitle>

<LeafletMap Height="500" Map="PositionMap" TileLayer="OpenStreetMapsTileLayer" />
<br />

<button class="btn btn-primary" @onclick="AddMarkerAtMapCenter">Add Marker at Map Center</button>
<br />
<button class="btn btn-primary" @onclick="() => PositionMap?.SetView(new LatLng(51.505, -0.09), 13)">Go to London</button>
<br />
<button class="btn btn-primary" @onclick="() => PositionMap?.SetView(new LatLng(40.7128, -74.0060), 13)">Go to New York</button>
<br />
<button class="btn btn-primary" @onclick="() => PositionMap?.Locate()">Locate Me</button>
